<section id="sec-complaints" class="section">
                    <div class="page-header">
                        <h2 class="page-title">Complaints & Issues</h2>
                        <button class="btn btn-small student-only" onclick="openModal('add-complaint-modal')">
                            <i class="fas fa-plus"></i> Submit Complaint
                        </button>
                    </div>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="admin-only">Student</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th class="admin-only">Action</th>
                                </tr>
                            </thead>
                            <tbody id="complaints-table-body">
                                <!-- Dynamic -->
                            </tbody>
                        </table>
                    </div>
                </section>