<section id="sec-students" class="section admin-only">
                    <div class="page-header">
                        <h2 class="page-title">Student Records</h2>
                    </div>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Room No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="students-table-body">
                                <!-- Dynamic -->
                            </tbody>
                        </table>
                    </div>
                </section>