{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section">
<h2>My Products</h2>

<div class="grid">
    {% for item in items %}
    <div class="card">

        <h3>{{ item.part }}</h3>

        <p><b>Brand:</b> {{ item.brand }}</p>
        <p><b>Category:</b> {{ item.category|title }}</p>
        <p><b>Condition:</b> {{ item.condition }}</p>

        <p><b>Price:</b> ₹{{ item.price }}</p>

        <p>{{ item.description }}</p>

        <a href="{% url 'delete_product' item.id %}">
    <button style="background:red;color:white;">Delete</button>
</a>

        <a href="{% url 'delete_product' item.id %}">
            <button style="background:red;color:white;border:none;padding:8px 15px;border-radius:10px;cursor:pointer;">
                Delete
            </button>
        </a>

    </div>
    {% empty %}
    <p>You have not added any products yet.</p>
    {% endfor %}
</div>
</section>
{% endblock %}