{% extends "base.html" %}
{% block content %}

<section class="section">

<h2>Product Details</h2>

<div class="grid">

<div class="card">

<img src="{{ product.image.url }}">

<h3>{{ product.part }}</h3>

<p><b>Brand:</b> {{ product.brand }}</p>

<p><b>Category:</b> {{ product.category }}</p>

<p><b>Condition:</b> {{ product.condition }}</p>

<p><b>Price:</b> ₹{{ product.price }}</p>

<p>{{ product.description }}</p>

<button>Contact Seller</button>

</div>

</div>

</section>

{% endblock %}