* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

/* LEFT SIDE */
.left {
    width: 50%;
    background: url('../images/bg.jpg') no-repeat center center/cover;
    position: relative;
}


.overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
}

.overlay h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 18px;
    line-height: 1.5;
}

/* RIGHT SIDE */
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.login-box {
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #6aa6ff, #2b7de9);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.divider {
    margin: 15px 0;
    color: #888;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.social span {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ddd;
}

.register {
    font-size: 14px;
}

.register a {
    color: #2b7de9;
    text-decoration: none;
}
.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

/* Colors */
.google {
    background:#b8adad;
}

.facebook {
    background: #3b5998;
}

.apple {
    background: black;
}
