{% extends 'base.html' %}
{% block content %}

<h2 style="color:#d4af37;">Fees Management</h2>

{% if fees %}
<table class="table table-borderless">

<tr style="color:#d4af37;">
<th>Student</th>
<th>Amount</th>
<th>Status</th>
</tr>

{% for fee in fees %}
<tr>

<td style="color:#ccc;">{{ fee.student.username }}</td>

<td style="color:#ccc;">₹{{ fee.amount }}</td>

<td>
{% if fee.status == 'paid' %}
<span class="badge bg-success">Paid</span>
{% else %}
<span class="badge bg-warning text-dark">Pending</span>
{% endif %}
</td>

</tr>
{% endfor %}
</table>
{% else %}
<p style="color:#aaa;">No fee records</p>
{% endif %}

{% endblock %}