{% extends 'base.html' %}
{% block content %}

<h2 style="color:#d4af37;">Rooms Management</h2>

<div class="form-box">
<form method="POST">
{% csrf_token %}
<input name="room_number" placeholder="Room Number" class="form-control mb-2" required>
<input name="capacity" placeholder="Capacity" class="form-control mb-2" required>
<button class="btn btn-gold w-100">Add Room</button>
</form>
</div>

{% if rooms %}
<table class="table table-borderless align-middle">
<thead>
<tr style="color:#d4af37;">
<th>Room</th>
<th>Capacity</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>

<tbody>
{% for room in rooms %}
<tr>
<td style="color:#ccc;">#{{ room.room_number }}</td>
<td style="color:#ccc;">{{ room.capacity }} Persons</td>

<td>
{% if room.is_available %}
<span class="badge bg-success">Available</span>
{% else %}
<span class="badge bg-danger">Full</span>
{% endif %}
</td>

<td>
<button class="btn btn-sm btn-outline-light">View</button>
</td>

</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p style="color:#aaa;">No rooms available</p>
{% endif %}

{% endblock %}